.button {
  position: absolute;
  z-index: 999;
  top: 108px;
  right: 2.5%;
  margin-right: 10px;
  padding: 2px;
  box-sizing: content-box;
  border: 1px solid #cfcfcf;
  background: #fff;
}

@media screen and (min-width: 640px) {
  .button {
    top: unset;
    bottom: 156px;
    right: unset;
    left: 0px;
    margin-inline: 10px 0px;
    padding: 7px;
    border-radius: 8px;
  }
}
