version: '3.8'

services:
  postgres:
    container_name: de-olho-no-foco-pg
    image: postgres
    ports:
      - 5455:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: database
      PGDATA: /data/postgres
    volumes:
      -   ./data/pg:/data/postgres