.menuContainer {
  border-top: 1px solid var(--color-gray-300);
  padding: 8px;
  box-sizing: border-box;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menuLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color: var(--color-gray-600);
  font-size: 12px;
  padding-block: 4px;
  font-weight: bold;
  text-decoration: none;
}

.menuLinkColor {
  transition: 0.2s ease-in;

  &:hover {
    color: var(--color-green-600);
  }
}

.activeMenuLink {
  animation: activeLink 0.5s ease-out forwards;
  border-radius: 20px;
}

@keyframes activeLink {
  to {
    color: var(--color-green-600);
  }
}

@media screen and (min-width: 760px) {
  .menuContainer {
    border-right: 2px solid var(--color-gray-300);
  }

  .menu {
    flex-direction: column;
    gap: 24px;
    margin-top: 12px;
  }
}
