.profileContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%; // Ocupa a largura completa
  height: 100%; // Ocupa a altura completa
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  
  .menuItem {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;

    &:last-child {
      border-bottom: none;
    }

    a {
      display: flex;
      align-items: center;
      gap: 8px;
      color: #333;
      text-decoration: none;
      transition: color 0.3s ease;
      width: 100%; // Garante que o link ocupe toda a largura da linha
    }

    a:hover {
      color: #007BFF;
    }
    
    .icon {
      width: 24px;
      height: 24px;
      flex-shrink: 0; // Garante que o ícone não encolha
    }
  }
}

.bottomMenu {
  margin-top: auto;
  padding-top: 20px;
  border-top: 1px solid #e0e0e0;

  a {
    color: #FF0000;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px; // Espaço entre o ícone e o texto "Sair"
    transition: color 0.3s ease;

    .icon {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
    }
  }
  a:hover {
    color: #FF4C4C;
  }
}
