.createButton {
  position: absolute;
  bottom: 38px;
  right: 18px;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  border: none;
  background: #fff;
  cursor: pointer;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

@media screen and (min-width: 480px) {
  .createButton {
    bottom: 22px;
  }
}
