.container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  box-sizing: border-box;
}

.loader {
  flex-direction: row;
  height: unset;
  width: 100%;
  padding-block: 24px;

  > h3 {
    font-size: 16px;
  }

  > svg {
    width: 24px;
    height: 24px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 100%;
  padding: 24px;
}

.titleWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.titleWrapper h1 {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.contentTitle {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-block: 12px 8px;

  h2,
  h3 {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.125rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 8px;
}

.notificationContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.notification {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 8px 12px;
  width: 100%;
  box-sizing: border-box;
  gap: 8px;
  border-radius: 6px;
}

.notificationTitleWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.notificationTitle {
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 0.875rem;
}

.notificationMessage {
  font-size: 0.625rem;
  font-weight: bold;
  line-height: 0.75rem;
}

.notificationWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.notificationDate {
  font-size: 0.625rem;
  font-weight: bold;
  line-height: 0.75rem;
}
