.container {
  display: flex;
  width: 100%;
  gap: 24px;
}

.pointsContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
}

.mapContainer {
  height: 100%;
}

.map {
  height: 100%;
}

.alert {
  position: absolute;
  top: 60px;
  right: 0px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  padding: 14px !important;
  z-index: 1001 !important;

  a {
    top: 14px !important;
  }
}

.modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 36px;
  border-top: 1px solid #d1d1d1;
  border-radius: 24px;
}

.reportWrapper {
  margin-top: 32px;
  display: flex;
  max-width: 400px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.report {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  width: 45%;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 12px;
}

.report img {
  width: 100%;
  max-width: 100px;
}

.report:hover {
  cursor: pointer;
  background: #d1d1d1;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formTitle {
  font-size: 16px;
  margin-bottom: 12px;
}

.formButton {
  padding: 12px;
  width: 100%;
  background: #34c759;
  border-radius: 4px;
  border: none;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  max-width: 500px;
}

.modalTitle {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: bold;
  text-align: center;
}
