.searchBar {
  position: absolute;
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  top: 12px;
  z-index: 1000;
}

.searchInput {
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 16px 12px;
  color: #625b71;
  font-size: 12px;
  font-weight: bold;
}

.searchIcon {
  position: absolute;
  right: 12px;
  color: #625b71;
}
