.pointTitle {
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
}

.popupButton {
  width: 100%;
  border: none;
  border-radius: 8px;
  background: #34c759;
  color: white;
  padding: 12px;
  box-sizing: border-box;
}
